<h1 style="color: blue;">Bài tập thứ 2</h1>
<h2>Quản lý người dùng</h2>
<p>Bài tập thực hành Angular + Spring Boot
    1.	 (08/10/2021) - Viết chương trình thực hiện các công việc sau
    a.	Tạo chức năng quản lý bảng lương tháng của nhân viên. Khi vào chức năng mặc định tìm kiếm tất cả các bảng lương. Mỗi bảng lương sẽ tương ứng với 1 tháng trong năm. 
    b.	Có nút thêm mới và xuất excel các bảng lương được chọn trên grid.
    c.	Mỗi bản ghi bảng lương sẽ có các action : Sửa, xóa.
    d.	Khi ấn thêm hoặc cập nhật bảng lương => hiển thị popup có danh sách của tất cả nhân viên để cập nhật lương. Ở dòng cuối cùng của danh sách sẽ là dòng tổng số - Tính tổng lương của tất cả mọi người. Yêu cầu khi thay đổi lương của mỗi nhân viên trên grid thì sẽ cập nhật lại số tổng này.
    e.	Khi ấn xuất file kiểm tra nếu ko có bản ghi lương nào đc chọn => thông báo bạn phải chọn bảng lương để xuất dữ liệu. Khi xuất dữ liệu mỗi bản ghi lương sẽ tương ứng 1 sheet. Nội dung trong sheet sẽ là danh sách lương của nhân viên trong tháng đó.   
</p>