<mat-sidenav-container class ="sidenaves">
    <mat-sidenav #sidenav (closed)="closeLeftSide()" class="sidenaveSmall" >
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/information']"  [routerLinkActive]="'active-link'">
                <mat-icon mat-list-icon>home</mat-icon>&nbsp;&nbsp;Thông tin trang Web
            </a>
            <a mat-list-item [routerLink]="['/boardPayroll']"  [routerLinkActive]="'active-link'">
                <mat-icon>folder_shared</mat-icon>&nbsp;&nbsp;&nbsp;Bảng Lương
            </a>
            <a mat-list-item (click)="sidenav.toggle()" >
                <mat-icon>close</mat-icon>&nbsp;&nbsp;&nbsp;Đóng
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="
        height: 90vh;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
      " [ngClass]="{
        'content-move-left': !isOpened,
        'content-move-right': isOpened
         }">
            <router-outlet></router-outlet>   
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>