  .content-move-right {
    margin-left: 250px !important;
    transition: ease 0.2s;
  }
  
  .content-move-left {
    margin-left: 10px !important;
    transition: ease 0.1s;
  }
  
  .active-link {
    color:black;
    background-color:rgb(84, 187, 70) !important;
  }
  
  
  

  