<mat-toolbar class="nav-height">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="openSidernav()" class="manager">menu</mat-icon>
        </button>
        <h1 (click)="openSidernav()" class="manager">Quản lý bảng lương</h1>
        <span class="menu-spacer" style="width: 100px;"></span>
        <div>
            <a mat-button [routerLink]="['/information']" [routerLinkActive]="'active-link'">
                <mat-icon mat-list-icon>home</mat-icon> Thông tin trang Web
            </a>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <a mat-button [routerLink]="['/boardPayroll']" [routerLinkActive]="'active-link'">
                <mat-icon>folder_shared</mat-icon>
                Bảng Lương &nbsp; &nbsp;<span matBadge="{{number}}" matBadgeColor="warn"></span>
            </a>
        </div>
        <div class="function">
            <button title="Thêm bảng lương" class="addBoard">
                <mat-icon class="iconns" >add_to_queue</mat-icon>
                <label>Bảng lương</label>
            </button>

            <button  class = "exportExcel" title="Xuất dữ liệu Excel">
                <mat-icon class="iconns">cloud_download</mat-icon>
                <label> Excel</label>
            </button>

            <button title="Đăng xuất" class ="logout">
                <mat-icon class="iconns">input</mat-icon>
                <label> Đăng xuất</label>
            </button>
        </div>

    </mat-toolbar-row>
</mat-toolbar>